<%- include ("../partials/header") %>
<h1>
	edit page
</h1>


<form action="/wynik/<%=wynik._id%>?_method=PUT" method="POST">
    <p>Logged Player</p>
	<select name="wynik[ktoG]" onchange="getVal(ktoh)">
		<option value="kozi" >Logged user</option>
    </select>
    <p>Opponent?</p>
    <select name="wynik[kto]" onchange="getVal(ktoh)">
<!-- tu trzeba bedzie zrobić petle przez wszystkich urzytkownikow z bazy danych po usernamie -->
		<option value="kozi" >Kozi</option>
		<option value="fulb" >Ful</option>
	</select>

    <p>Chose your side?</p>
	<select name="wynik[stronnictwo]" onchange="getVal(kim)">
		<option>Rebels</option>
		<option>Empire</option>
    </select>
    <p>Chose oponennt side?</p>
	<select name="wynik[opponent]" onchange="getVal(kim)">
		<option>Rebels</option>
		<option>Empire</option>
	</select>


    <p>Today game win?</p>
	<select  name="wynik[wygral]" onchange="getVal(win)">
		<option value="Wygralem" >victory </option>
		<option value="Przegralem" >Loos </option>
    </select>

    <p>Where was start location of Rebel Base ?</p>
	<select name="wynik[base]" onchange="getVal(baza)">
        <option>Alderaan</option>
        <option>Bespin</option>
        <option>Bothawui</option>
        <option>Cato Neimoidia</option>
        <option>Corellia</option>
        <option>Coruscant</option>
        <option>Dagobah</option>
        <option>Dantooine</option>
        <option>Dathomir</option>
        <option>Endor</option>
        <option>Felucia</option>
        <option>Geonosis</option>
        <option>Hoth</option>
        <option>Ilum</option>
        <option>Kashyyyk</option>
        <option>Kessel</option>
        <option>Malastare</option>
        <option>Mandalore</option>
        <option>Mon Calamari</option>
        <option>Mustafar</option>
        <option>Mygeeto</option>
        <option>Naboo</option>
        <option>Nal Hutt</option>
        <option>Ord Mantell</option>
        <option>Rodia</option>
        <option>Ryloth</option>
        <option>Sullust</option>
        <option>Saleucami</option>
        <option>Tatooine</option>
        <option>Toydaria</option>
        <option>Utapau</option>
        <option>Yavin</option>

	</select>



 <p>Where was the Runde marker?</p>
	<select name="wynik[round]" onchange="getVal(runda)">
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		<option>7</option>
		<option>8</option>
		<option>9</option>
		<option>10</option>
		<option>11</option>
		<option>12</option>
		<option>13</option>
		<option>14</option>
	</select>



 <p>Where was the Rebel Marker?</p>
	<select name="wynik[token]" onchange="getVal(znacznik)" >
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		<option>7</option>
		<option>8</option>
		<option>9</option>
		<option>10</option>
		<option>11</option>
		<option>12</option>
		<option>13</option>
		<option>14</option>
	</select>

	<button type="submit" id="button">Submit</button>
</form>
</form>



<p><a href="/">wroc do strony glownej</a></p>
<p><a href="/wynik">zobacz wyniki</a></p>


	<script>
function getVal(y){
return y.value
}
	</script>
<%- include("../partials/footer") %>