<%- include ("../partials/header") %>
<form onsubmit="return isValidForm();" action="/wynik" method="POST">
    <p class="hidden">Logged Player</p>
	 <select class="hidden" name="wynik[ktoG]" >
		<option value="logged user">current user </option>
	</select>
    <p>Opponent?</p>
    <select name="wynik[kto]" >
<!-- tu trzeba bedzie zrobić petle przez wszystkich urzytkownikow z bazy danych po usernamie -->
	<% user.forEach(function(users){ %>
	<% if (users.username===currentUser.username) { %>
		<option class="hidden"><%= users.username %></option>
	 <% } else { %>
		<option><%= users.username %></option>
	 <% }}); %>
	</select>

    <p>Chose your side?</p>
	<select  class="stR" name="wynik[stronnictwo]" onchange="val()" >
		<option  value="Rebels" >Rebels</option>
		<option  value="Empire" >Empire</option>
    </select>
    <p>Chose oponennt side?</p>
	<select class="op" name="wynik[opponent]">
		<option class="opR" value="Rebels">Rebels</option>
		<option class="opE" value="Empire">Empire</option>
	</select>


    <p>Today game win?</p>
	<select  name="wynik[wygral]" >
		<option value="Win" >Win</option>
		<option value="Loos" >Loos </option>
    </select>

    <p>Where was start location of Rebel Base ?</p>
	<select name="wynik[base]" >
        <option value="Alderaan"	 	>Alderaan</option>
		<option value="Bespin"			>Bespin</option>
        <option value="Bothawui"		>Bothawui</option>
        <option value="Cato Neimoidia"  >Cato Neimoidia</option>
        <option value="Dagobah" 		>Dagobah</option>
        <option value="Corellia" 		>Corellia</option>
        <option value="Dantooine" 		>Dantooine</option>
        <option value="Dathomir" 		>Dathomir</option>
        <option value="Endor" 			>Endor</option>
        <option value="Felucia" 		>Felucia</option>
        <option value="Geonosis" 		>Geonosis</option>
        <option value="Hoth" 			>Hoth</option>
        <option value="Ilum" 			>Ilum</option>
        <option value="Kashyyyk" 		>Kashyyyk</option>
        <option value="Kessel" 			>Kessel</option>
        <option value="Malastare" 		>Malastare</option>
        <option value="Mandalore" 		>Mandalore</option>
        <option value="Mon Calamari"	>Mon Calamari</option>
        <option value="Mustafar" 		>Mustafar</option>
        <option value="Mygeeto" 		>Mygeeto</option>
        <option value="Naboo" 			>Naboo</option>
        <option value="Nal Hutt" 		>Nal Hutt</option>
        <option value="Ord Mantell" 	>Ord Mantell</option>
        <option value="Rodia" 			>Rodia</option>
        <option value="Ryloth" 			>Ryloth</option>
        <option value="Sullust" 		>Sullust</option>
        <option value="Saleucami" 		>Saleucami</option>
        <option value="Tatooine" 		>Tatooine</option>
        <option value="Toydaria" 		>Toydaria</option>
        <option value="Utapau" 			>Utapau</option>
        <option value="Yavin" 			>Yavin</option>
</select>


	<p>Where was the Rebel token?</p>
	<select class="tok" name="wynik[token]" onchange="roundValid()">
		<option value="1" > 1 </option>
		<option value="2" > 2 </option>
		<option value="3" > 3 </option>
		<option value="4" > 4 </option>
		<option value="5" > 5 </option>
		<option value="6" > 6 </option>
		<option value="7" > 7 </option>
		<option value="8" > 8 </option>
		<option value="9" > 9 </option>
		<option value="11" > 10</option>
		<option value="11" > 11</option>
		<option value="12" > 12</option>
		<option value="13" > 13</option>
		<option value="14" > 14</option>
	</select>



	<p>Where was the Round marker?</p>
	<select class="round" name="wynik[round]" onchange="roundValid()">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
		<option value="13">13</option>
		<option value="14">14</option>
	</select>

	<button type="submit" id="button" >Submit</button>
</form>


<p><a href="/">Back to main page</a></p>
<p><a href="/wynik">back to score page</a></p>


<%- include("../partials/footer") %>